<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>count up app WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>count up app.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BA90A2C91E0602CE004471FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA90A2DD1E0602CE004471FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA90A2E81E0602CE004471FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA90A2F11E0602CE004471FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
